@media (min-width: 960px) {
    .VPDoc {
        padding-top: 10px !important;
    }

    .vp-doc .VPTeamMembersItem {
        border-radius: 8px !important;
    }

    .VPDoc:not(.has-sidebar) .content {
        max-width: inherit !important;
    }

    .VPDocAsideOutline .content {
        padding-left: 14px !important;
    }
}

.hover-pointer {
    cursor: pointer !important;
}

.n-card {
    background-color: var(--vp-c-bg-soft);
    border-radius: 8px;
}

.n-list {
    background-color: var(--vp-c-bg-soft);
}